/* Device Displays */

@media only screen and (max-width: 767px) {
  .mgrow {
    flex-grow: 0 !important;
  }
  .mflex {
    display: block;
  }
  .mline {
    justify-content: center;
  }
  .mslim {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .mgrow {
    flex-grow: 1 !important;
  }
  .mflex {
    display: flex;
  }
  .mline {
    justify-content: end;
  }
  .navbar:first-child {
    margin-left: 3rem;
  }
  .navbar:last-child {
    margin-right: 3rem;
  }
}

/* Tag Overrides */

html {
  background:
    radial-gradient(ellipse at top left, #064494 30%, #042afb2e 40%),
    radial-gradient(ellipse at bottom left, #103b68 20%, transparent 40%),
    radial-gradient(ellipse at top right, #00529F 20%, #248cca80 50%),
    radial-gradient(ellipse at bottom right, #001626 20%, #00AAFD 35%);
  background-image: url(moon_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #00f8ff;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover {
  color: #ecc906;
}
a.gold:hover {
  color: #00f8ff;
  text-shadow: 1px 1px 2px #047477;
}
a.navbar-item:hover, a.navbar-item:focus {
  background-color: #09F;
  color: #FFF;
}
footer {
  padding: 0.5rem;
  background-color: #0000004f;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 2px #0f0f0f5e;
  box-shadow: 0 -1px 2px #b1b1b10f
}
hr {
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0 0.7rem;
  background: linear-gradient(270deg, #7B68EE 0%, #09F 100%);
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
pre, .content pre {
  color: #ffffff;
  background: none;
  white-space: pre-wrap;
  word-wrap: normal;
  padding: 0;
}

/* Containers */

.content h1 {
  font-weight:300;
  font-size:2em;
  margin-bottom:.5em
}
.content table td, .content table th {
  border: none;
  color: inherit;
}
.hero-body {
  padding: 2rem 0rem;
}
.hero-body.splash, .hero.is-fullheight .hero-body.splash  {
  align-items: center;
  display: grid;
}
.outline {
  clear: both;
  background: #131b2db5;
  border: 5px double #09F;
  border-radius: 8px;
  box-shadow: 0 2px 3px #09F;
  padding: 10px;
  margin: 0 auto;
}
.subbox {
  background: #0F1720;
  border: 1px solid #185877;
  padding: 16px;
  max-width: 100%;
}
.inbox {
  background: #0B1120A8;
  border: 1px solid #1e4ca6c2;
  border-radius: 2px;
  padding: 16px;
  max-width: 100% !important;
  overflow: auto;
}

/* Spacers */

.space {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}
.is-fullwidth {
  width: 100%;
}
.tall {
  height: 100%;
}
.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  margin-top: 5px;
}

/* Text */

.center {
  justify-content: center;
  text-align: center;
}
.title, .title.is-2, .title:not(:last-child) {
  font-weight: 300;
  background-color: Transparent;
  margin-bottom: 0.5rem;
}
.subtitle {
  color: #FFFFFF;
}
.blue {
  color: #0099FF;
  text-shadow: 1px 1px 1px #030739e0;
}
.gold {
  color:#ffd700;
}
.media {
  align-items: center;
  text-align: -moz-center;
}
.navbar-item, .navbar-link {
  color: #FFFFFF;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.1em;
}
.navbar-item img {
  max-height: fit-content;
}
.depth {
  filter: drop-shadow(3px 3px 2px #0000004f);
}
.glow {
  filter: drop-shadow(1px 1px 5px #c4c4c4db);
}
.glowm:hover {
  filter: drop-shadow(1px 1px 5px #c4c4c4db);
}

/* Button Classes */

.button.is-info, .button.is-info:focus:not(:disabled) {
  background-color: #0224644f;
  border-color: #09F;
  color: #fff;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button.search {
  left: 3px;
}
.button:hover:not(:disabled) {
  background-color: #0099FF;
  border-color: transparent;
  color: #fff;
}
.button:disabled {
  background-color: #69737b4f;
  border-color: #846302;
  color: #eee;
  width: 100%;
  border-radius: 4px;
}
.button.is-info[disabled] {
  background-color: #1a5382;
  border-color: #193e86;
}
.copy {
  background-color: #0224644f;
  border-color: #09f;
  color: #fff;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.copy:focus {
  outline: 0;
}
.copy:before, .copy:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.copy:active:not(:disabled) {
  transform: scale(0.9);
  background-color: #008ae6;
  box-shadow: 0 2px 25px #0099FF;
}
.copy:disabled {
  background-color: #69737b4f;
  border-color: #846302;
  color: #888;
  border-radius: 0px;
}
.copied {
  background-color: #0231644f;
  border-color: #ffd700;
}
.return {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 99;
  background-color: #02246491;
  border-color: #09F;
  color: #d5d5d5;
  border-radius: 100%;
  height: 32px;
  width: 32px;
}
.input::placeholder {
  color: #0000009e;
}
.input.bar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-box {
  padding: 10px;
  display: flex;
  min-width: 60%;
}

/* Misc Classes */

.data-display {
  max-height: 325px;
  overflow-y: scroll;
  min-height: 30px;
}
.inactive {
  display: none;
}
.mask {
  background-color: #0000004f;
}
.tag:not(body).is-info {
  background-color: #09F;
  color: #000;
  float: right;
}

/* SVG Icons */

.ico-dot::after {
  content: '';
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-image: url("dot.svg");
  background-size: contain;
  margin-right: 0.3rem;
}
.ico-tart::after {
  content: '';
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-image: url("tart.svg");
  background-size: contain;
  margin-right: 0.3rem;
}
.ico-eyebeast::after {
  content: '';
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-image: url("eyebeast.svg");
  background-size: contain;
  margin-right: 0.3rem;
}
