<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Eyebeast, CalRef Network, Calamity Refuge, NationStates backup, NationStates history">
    <meta name="description" content="Eyebeast is an archival utility from Calamity Refuge, where operators can recover up to six months data through weekly snapshots of any region on NationStates.net.">
    <meta name="theme-color" content="#0099FF">
    <meta property="og:image" content="{{ url_for('static', filename='eyecon.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://calref.ca/bulma.css">
    <link rel="stylesheet" href="../static/beholder.css">
    <title>Eyebeast</title>
</head>
<body>

<div class="hero is-fullheight">

    <!-- Permanent Search Bar -->

    <header class="hero is-small mask">
        <nav class="navbar space" role="navigation" aria-label="main navigation">
            <div class="navbar-start center is-fullwidth">
                <form class="field has-addons search-box form">
                    <input type="submit" value="Search" id="search" class="button is-info search">
                    <input class="input bar" id="search" name="region" type="text" placeholder="Search for a region">
                </form>
            </div>
        </nav>
    </header>

    <!-- Main -->

    <main class="hero-body splash">
        <section class="hero-body px-2">
            <div class="container outline">
                <div class="container subbox">
                    <article class="media has-text-left">
                        <p class="image depth is-64x64">
                            <a href="/"><img src ="../static/eyecon.png"></a>
                        </p>
                        <div class="media-content more-space">
                            <h1 class="title is-2 is-flex">
                                <span class="blue space">404: Not Found</span>
                            </h1>
                            <p class="subtitle space is-flex">
                                Region is unknown or cannot be known
                            </p>
                        </div>
                    </article>

                    <hr>

                    <p class="space">
                        No record was found within the database for the region you mentioned. Try searching for something else.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->

    <footer class="footer is-flex center">
        <div class="media-footer is-flex">
            <p class="image depth is-32x32">
                <a href="https://calref.ca/"><img src="https://calref.ca/images/icon_white.png"></a>
            </p>
            <div class="media-content px-1">
                <p class="is-size-6">
                    <span>Powered by <a class="gold" href="https://calref.ca/">CalRef</a></span><span> © 2008-2024</span>
                </p>
            </div>
        </div>
        <div class="media-footer is-flex">
            <div class="media-content">
                <p class="is-size-6 ml-1">
                    <span> | <a class="gold" href="https://calref.ca/donate">Support Our Servers</a></span><span></span>
                </p>
            </div>
        </div>
    </footer>

</div>

<script src="{{ url_for('static', filename='iris.js') }}"></script>

</body>
</html>
