<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Eyebeast, CalRef Network, Calamity Refuge, NationStates backup, NationStates history">
    <meta name="description" content="Eyebeast is an archival utility from Calamity Refuge, where operators can recover up to six months data through weekly snapshots of any region on NationStates.net.">
    <meta name="theme-color" content="#0099FF">
    <meta property="og:image" content="{{ url_for('static', filename='eyecon.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://calref.ca/bulma.css">
    <link rel="stylesheet" href="../static/beholder.css">
    <title>Eyebeast</title>
</head>
<body id="top">

<a class="button return is-hidden-tablet" href="#top">▲</a>

<div class="hero is-fullheight">

    <!-- Permanent Search Bar -->

    <header class="hero is-small mask">
        <nav class="navbar space" role="navigation" aria-label="main navigation">
            <div class="navbar-start center is-fullwidth">
                <form class="field has-addons search-box form">
                    <input type="submit" value="Search" id="search" class="button is-info search">
                    <input class="input bar" id="search" name="region" type="text" placeholder="Search for a region">
                </form>
            </div>
        </nav>
    </header>

    <!-- Main -->

    <main class="hero-body">
        <div class="container outline" style="max-width: 95%;">
            <div class="columns p-2 mb-0">
                <div class="column is-half py-0">

                    <article class="media has-text-left">
                        <figure>
                            <p class="image depth is-64x64">
                                <a href="/"><img src ="../static/eyecon.png"></a>
                            </p>
                        </figure>
                        <div class="media-content more-space">
                            <h1 class="title is-flex">
                                <span class="blue space">Eyebeast</span>
                            </h1>
                            <p class="subtitle space is-flex">
                                Eldritch Archival Utility
                            </p>
                        </div>

                    </article>

                </div>

                <!-- Names and Stamps -->

                <div class="column is-half pt-0">

                    <div class="gold">
                        <div class="center">
                            <div id="regions">
                            {% for region in regions %}
                                {{ region | safe }}
                            {% endfor %}
                            </div>
                            <div id="stamps">
                            {% for stamp in stamps %}
                                {{ stamp | safe }}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="space"></div>

            <div class="columns mb-3">
                <div class="column">
                    <p class="space">
                        Use the nav buttons to flip through snapshots and find native-created data. Tap the flags and banners to download them.
                        Snapshots are weekly and pruned at six months.
                    </p>
                </div>

                <!-- Nav Buttons -->

                <div class="column mflex">
                    <div class="column mline is-flex">
                        <input class="input center" id="indexBox" type="number" style="width: 3em;" value="1" disabled="">

                        <span class="space">/ </span><span class="space" id="length">{{length}}</span>
                    </div>
                    <div class="column center is-flex">
                        <div class="px-2">
                            <button class="button is-info py-5 px-5" id="forward" onclick="downity()" disabled="">◀ Forward</button>
                        </div>
                        <div class="px-2">
                            <button class="button is-info py-5 px-5" id="backward" onclick="uppity()" {{breaks[0]}}="">Backward ▶</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Flag Results -->

            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <div class="content subbox tall">
                        <h1 class="title is-3 center">
                            <span class="blue">Flag</span>
                        </h1>

                        <hr>

                        <p class="center space">
                            <div class="center" id="flags">
                            {% for flag in flags %}
                                {{ flag | safe }}
                            {% endfor %}
                            </div>
                        </p>
                    </div>
                </div>

                <!-- WFE Results -->

                <div class="column is-half">
                    <div class="content subbox tall">
                        <div>
                            <h1 class="title is-3 center">
                                <button class="copy is-pulled-right" onclick="copityopity()" id="copy" {{breaks[1]}}> Copy </button>
                                <span class="blue">World Factbook Entry</span>
                            </h1>

                        </div>

                        <hr>

                        <p class="center space">
                            <div class="content data-display">
                                <div id="wfes">
                                {% for wfe in wfes %}
                                    {{ wfe | safe}}
                                {% endfor %}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>

                <!-- Tag Results -->

                <div class="column">
                    <div class="content subbox tall">
                        <h1 class="title is-3 center">
                            <span class="blue" style="padding-right: 0.5%;">Tags</span>
                        </h1>

                        <hr>

                        <p class="center space" style="font-size: 80%;">
                            <div class="content data-display">
                                <div id="tags">
                                {% for tag in tags %}
                                    {{ tag | safe}}
                                {% endfor %}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>

                <!-- Banner Results -->

                <div class="column is-half">
                    <div class="content subbox tall">
                        <h1 class="title is-3 center">
                            <p class="blue">Region Banner</p>
                        </h1>

                        <hr>

                        <p class="center space" style="font-size: 80%;">
                            <div class="content data-display">
                                <div id="banners">
                                {% for banner in banners %}
                                    {{ banner | safe }}
                                {% endfor %}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>

                <!-- Officer Results -->

                <div class="column is-half">
                    <div class="content subbox tall">
                        <h1 class="title is-3 center">
                            <span class="blue">Regional Officers</span>
                        </h1>

                        <hr>

                        <p class="center space" style="font-size: 80%;">
                            <div class="content data-display">
                                <div id="ros">
                                {% for ro in ros %}
                                    {{ ro | safe }}
                                {% endfor %}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->

    <footer class="footer is-flex center">
        <div class="media-footer is-flex">
            <p class="image depth is-32x32">
                <a href="https://calref.ca/"><img src="https://calref.ca/images/icon_white.png"></a>
            </p>
            <div class="media-content px-1">
                <p class="is-size-6">
                    <span>Powered by <a class="gold" href="https://calref.ca/">CalRef</a></span><span> © 2008-2024</span>
                </p>
            </div>
        </div>
        <div class="media-footer is-flex">
            <div class="media-content">
                <p class="is-size-6 ml-1">
                    <span> | <a class="gold" href="https://calref.ca/donate">Support Our Servers</a></span><span></span>
                </p>
            </div>
        </div>
    </footer>

</div>

    <script src="{{ url_for('static', filename='iris.js') }}"></script>
    <script src="{{ url_for('static', filename='retina.js') }}"></script>

</body>
</html>
