<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Eyebeast, CalRef Network, Calamity Refuge, NationStates backup, NationStates history"/>
    <meta name="description" content="Eyebeast is an archival utility from CalRef for region-builders, defenders, and archivists to recover data for a region on NationStates.net.

Use the arrow buttons to flip through six months of weekly snapshots to see what world factbook entiries, regional officers, tags, and flags existed for a region at a given time.">
    <meta property="og:image" content="{{ url_for('static', filename='eyecon.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://calref.network/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='beholder.css') }}">
    <title>Eyebeast</title>
</head>
<body class="bg">

    <div class="hero is-fullheight">
        <div class="hero-body" style="display:grid;">
            <section class="hero-body" style="padding:5px">
                <div class="container outline">
                    <div class="container subbox">
                        <article class="media" style="text-align:left">
                            <figure>
                                <p class="image depth is-64x64">
                                <img src ="{{ url_for('static', filename='eyecon.png') }}">
                                </p>
                            </figure>
                            <div class="media-content more-space">
                                <h1 class="title is-2" style="display:flex">
                                    <span class="blue space" style="padding-right: 0.5%;">Eyebeast</span>
                                </h1>
                                <p class="subtitle white space" style="display:flex">
                                    Eldritch Archival Utility
                                </p>
                            </div>
                        </article>
                        <div class="divider">
                            <ul></ul>
                        </div>

                        <p class="white text space">
                        Eyebeast is an archival utility which can help you recover world factbook entiries, regional officers, tags, and flags existed for a region at a given time.
                        Snapshots are taken weekly and automatically pruned after six months. Enter a region name or URL into the search box below to see if we can bring up some records.
                        </p>
                        <section>
                            <nav class="navbar space" role="navigation" aria-label="main navigation">
                                <div class="navbar-start" style="justify-content: center; width: 100%;">
                                    <form action="/gazer" method="POST" class="field has-addons search-box">
                                        <div class="control">                                        
                                            <button id="button-search" class="button center is-info">Search</button>
                                        </div>
                                        <input class="input" id="search" name="region" type="text" placeholder="Search for a region" required>
                                    </form>
                                </div>
                            </nav>
                        </section> 
                    </div>
                </div>
            </section>
        </div>

        <!-- Footer -->

        <section class="hero is-small">
            <div class="hero-body" style="background-color: #000000ab; display:block;">
                <article class="media" style="text-align:left; padding-left: 10px; padding-right: 10px;">
                    <figure>
                        <p class="image depth is-64x64">
                        <img src="https://calref.network/images/icon.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <p class="is-size-6 white">
                        Copyright 2008-2022
                        </p>
                    </div>
                    <p class="is-size-6 white" style="text-align:right">
                        <span>Powered by <a class="gold" href="https://calref.network/">CalRef</a></span>
                    </p>
                </article>
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='iris.js') }}"></script>
</body>
</html>
