<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Eyebeast, CalRef Network, Calamity Refuge, NationStates backup, NationStates history">
  <meta name="description" content="Eyebeast is an archival utility from Calamity Refuge, where operators can recover up to six months data through weekly snapshots of any region on NationStates.net.">
  <meta name="theme-color" content="#0099FF">
  <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="../static/beholder-min.css">
  <title>Eyebeast - {{ title | safe }}</title>
</head>
<body>

<div class="hero is-fullheight">

<!-- Nav Bar -->

<header class="mask">
  <nav class="navbar is-flex">
    <div class="navbar-brand mgrow">
        <a href="https://calref.ca/" class="navbar-item depth glowm">
            <img height="48" width="48" src="{{ url_for('static', filename='icon.svg') }}" alt="CalRef Logo" aria-label="Visit Calamity Refuge">
            <span class="mslim">CalRef</span>
        </a>
    </div>

    <form class="search-box is-flex-grow-3">
      <button type="submit" id="search" class="button search center is-info ico-search" value="Search"></button>
      <input class="input bar" name="region" id="search" type="text" placeholder="Region name" required>
    </form>

    <div class="navbar-menu is-flex-grow-1">
      <div class="navbar-end">
        <a href="https://calref.ca/dot/" class="navbar-item depth"><i class="ico ico-dot"></i>Dot</a>
        <a href="https://eyebeast.calref.ca/" class="navbar-item depth"><i class="ico ico-eyebeast"></i>Eyebeast</a>
        <a href="https://tart.calref.ca/" class="navbar-item depth"><i class="ico ico-tart"></i>Tart.CalRef</a>
        <a href="https://rmm.calref.ca/" class="navbar-item depth"><i class="ico ico-rmm"></i>RMM</a>
      </div>
    </div>
  </nav>
</header>

<!-- Main -->

<main class="hero-body splash">
  <section class="hero-body px-2">
    <div class="container outline">
      <div class="subbox">

        <article class="media has-text-left">
          <p class="image is-64x64">
            <a href="/">
              <img height="64" width="64" src="{{ url_for('static', filename='eyebeast_logo.svg') }}" alt="logo" aria-label="Return to splash page">
            </a>
          </p>
          <div class="media-content mb-3">
            <h1 class="title is-flex blue space">
              {{ title | safe }}
            </h1>
            <h2 class="subtitle space is-flex">
              {{ subtitle | safe }}
            </h2>
          </div>
        </article>

        <hr>

        <p class="space">
          {{ text | safe }}
        </p>
      </div>
    </div>
  </section>
</main>

<!-- Footer -->

<footer class="is-flex center">
  <div class="is-flex">
    <figure class="image depth is-32x32">
      <a href="https://calref.ca/"><img height="32" width="32" src="{{ url_for('static', filename='icon.svg') }}" alt="CalRef Logo" aria-label="Visit Calamity Refuge"></a>
    </figure>
      <p class="media-content is-size-6 px-1">
        <span><a class="gold" href="https://calref.ca/">CalRef</a></span><span> © 2008-2025</span>
        <span> | <a class="gold" href="https://calref.ca/donate">Donate</a></span>
      </p>
  </div>
</footer>

</div>

<script src="{{ url_for('static', filename='iris.js') }}"></script>

</body>
</html>
