<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Eyebeast, CalRef Network, Calamity Refuge, NationStates backup, NationStates history">
  <meta name="description" content="Eyebeast is an archival utility from Calamity Refuge, where operators can recover up to six months data through weekly snapshots of any region on NationStates.net.">
  <meta name="theme-color" content="#0099FF">
  <meta property="og:image" content="{{ url_for('static', filename='eyecon.png') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://calref.ca/bulma.css">
  <link rel="stylesheet" href="../static/beholder.css">
  <title>Eyebeast</title>
</head>
<body>
  <script>0</script>

<!-- Main -->

<div class="hero is-fullheight">

<main class="hero-body splash">
  <section class="hero-body px-2">
    <div class="container outline">
      <div class="subbox">

        <article class="media has-text-left">
          <figure class="image is-64x64">
            <a href="/"><img src="../static/eyecon.png" alt="logo" aria-label="Return to splash page"></a>
          </figure>
          <div class="media-content mb-3">
            <span class="tag is-info">v1.2.0</span>
            <h1 class="title is-2 is-flex blue space">
              Eyebeast
            </h1>
            <h2 class="subtitle space is-flex">
              Eldritch Archival Utility
            </h2>
          </div>
        </article>

        <hr>

        <!-- Search Bar -->

        <p class="space">
          Eyebeast is a data archival utility designed to help recover recently lost data for a given NationStates region.
          Data is organised into weekly snapshots of the region, featuring a region's flags, banners, search tags, regional
          officers, and world factbook entries if any were present to be recorded. Snapshots are retained for six months.
        </p>
        <p class="space center">
          Use the field below to search for a region.
        </p>
        <section>
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-start center is-fullwidth">
              <form class="field has-addons search-box form">
                <input type="submit" value="Search" id="search" class="button is-info search">
                <input class="input bar" id="search" name="region" type="text" placeholder="Search for a region">
              </form>
            </div>
          </nav>
        </section>
      </div>
    </div>
  </section>
</main>

<!-- Footer -->

<footer class="is-flex center">
  <div class="media-footer is-flex">
    <figure class="image depth is-32x32">
      <a href="https://calref.ca/">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="CalRef Logo" aria-label="Visit Calamity Refuge">
      </a>
    </figure>
    <div class="media-content px-1">
      <p class="is-size-6">
        <span><a class="gold" href="https://calref.ca/">CalRef</a></span><span> © 2008-2024</span>
        <span> | <a class="gold" href="https://calref.ca/donate">Support Our Servers</a></span>
      </p>
    </div>
  </div>
</footer>

</div>

<script src="{{ url_for('static', filename='iris.js') }}"></script>

</body>
</html>
