<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Eyebeast, CalRef Network, Calamity Refuge, NationStates backup, NationStates history">
  <meta name="description" content="Eyebeast is an archival utility from Calamity Refuge, where operators can recover up to six months data through weekly snapshots of any region on NationStates.net.">
  <meta name="theme-color" content="#0099FF">
  <meta property="og:image" content="{{ url_for('static', filename='eyecon.png') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="../static/beholder-min.css">
  <title>Eyebeast - NationStates Region Data Recovery</title>
</head>
<body>

<!-- Main -->

<div class="hero is-fullheight">

  <!-- Nav Bar -->

  <header class="mask mslim">
    <nav class="navbar is-flex">
      <div class="navbar-brand is-flex-grow-2">
          <a href="https://calref.ca/" class="navbar-item depth glowm">
              <img height="48" width="48" src="{{ url_for('static', filename='icon.svg') }}" alt="CalRef Logo" aria-label="Visit Calamity Refuge">
              CalRef
          </a>
      </div>

      <div class="navbar-menu is-flex-grow-1">
        <div class="navbar-end">
          <a href="https://calref.ca/dot/" class="navbar-item depth"><i class="ico ico-dot"></i>Dot</a>
          <a href="https://eyebeast.calref.ca/" class="navbar-item depth"><i class="ico ico-eyebeast"></i>Eyebeast</a>
          <a href="https://tart.calref.ca/" class="navbar-item depth"><i class="ico ico-tart"></i>Tart.CalRef</a>
        </div>
      </div>
    </nav>
  </header>

<main class="hero-body px-2">
  <div class="container outline">
    <div class="subbox">

      <article class="media has-text-left">
        <figure class="image is-64x64">
          <a href="/"><img height="64" width="64" src="{{ url_for('static', filename='eyebeast_logo.svg') }}" alt="logo" aria-label="Return to splash page"></a>
        </figure>
        <div class="media-content mb-3">
          <span class="tag is-info">v{{ version }}</span>
          <h1 class="title blue space">
            Eyebeast
          </h1>
          <h2 class="subtitle space">
            Eldritch Archival Utility
          </h2>
        </div>
      </article>

      <hr>

      <!-- Search Bar -->

      <p class="space">
        Eyebeast is a data archival utility designed to help recover recently lost data for a given NationStates region.
        Data is organised into weekly snapshots of the region, featuring a region's flags, banners, search tags, regional
        officers, and world factbook entries if any were present to be recorded. Snapshots are retained for six months.
      </p>
      <p class="space center">
        Use the field below to search for a region.
      </p>
      <section>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-start center is-fullwidth">
            <form class="field has-addons search-box form">
              <button type="submit" value="Search" id="search" class="button is-info search ico-search"></button>
              <input class="input bar" id="search" name="region" type="text" placeholder="Region name">
            </form>
          </div>
        </nav>
      </section>
    </div>
  </div>
</main>

<!-- Footer -->

<footer class="is-flex center">
  <div class="is-flex">
    <figure class="image depth is-32x32">
      <a href="https://calref.ca/"><img height="32" width="32" src="{{ url_for('static', filename='icon.svg') }}" alt="CalRef Logo" aria-label="Visit Calamity Refuge"></a>
    </figure>
      <p class="media-content is-size-6 px-1">
        <span><a class="gold" href="https://calref.ca/">CalRef</a></span><span> © 2008-2025</span>
        <span> | <a class="gold" href="https://calref.ca/donate">Donate</a></span>
      </p>
  </div>
</footer>

</div>

<script src="{{ url_for('static', filename='iris.js') }}"></script>

</body>
</html>
